@import '_variables';

.grid3 {
    grid-column: 1 / span 4;
    grid-row: 3 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20vh;
    z-index: -1;
    .largeImage {
        background-image: url('../imagesNew/12.jpg');
        // filter: grayscale(100%);
        width: 100vw;
        height: 140vh;
        background-size: cover;
        margin-top: 0vh;
    }
}
