<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <title><%= pageTitle %></title> -->
    <link rel="stylesheet" href="/success.css" />
</head>
<body>
    <main>
        <div class="flex">
            <div class="orderConfirm">Your Order Was Successful</div>
            <div class="orderDetails">Order Id: <%= orderId %></div>
            <button id="redirect">Homepage</button>
        </div>
    </main>
    <script>
        let btn = document.getElementById('redirect');
        btn.addEventListener('click', () => {
            window.location.href = "http://localhost:8080/"
        })
    </script>
</body>